.memories {
    background-color: var(--memories);
    min-height: 500px;
    margin: 0 20px;
    border-radius: 0 0 20px 20px;
    border: 2px solid black;
    border-top: none;
}

.memories h3 {
    margin: 0 auto 0 auto;
    padding: 20px 10px;
    text-align: center;
    font-size: 2rem;
}

/* .memories .photos-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
} */
.memories .photos-page {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    padding-bottom: 300px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    background-color: transparent;
    border: none;
    padding: none;
}

/* @media screen and (min-width: 800px) {
    .memories .photos-page {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    .memories .photos-page {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} */

.add-img-btn{
    background-color: rgb(60, 174, 60);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.197);
    border-radius: 10px;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    display: block;
}