.yinyang {
    background: whitesmoke;
    /* width: 90px;
    height: 180px; */
    border: solid black;
    border-radius: 50%;
    position: relative;
    /* border-width: 5px 90px 5px 5px !important; */
    animation: rotation 2s linear infinite;
    margin: 0 auto;
}

.yinyang-1{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: whitesmoke;
    border: 35px solid black;
    border-radius: 50%;
    top: 0;
    left: 50%;
}
.yinyang-2{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: black;
    border: 35px solid whitesmoke;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}