.profiles {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 30px auto 0 auto;
}


.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 0 20px;
    text-align: center;
}

.settings-link {
    position: absolute;
    right: 20px;
}

.coupleId {
    max-width: 200px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupleId p {
    font-size: 0.8rem;
}

.coupleId span {
    font-weight: 800;
    word-wrap: break-word;
}

.partner-yin-yang {
    margin-bottom: 10px;
}