.profiles {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
}


.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 0 20px;
    text-align: center;
}

.settings-link {
    position: absolute;
    right: 20px;
}